<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Cognex.VisionPro.Core" publicKeyToken="EF0F902AF9DEE505" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-41.0.0.0" newVersion="41.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
